@import "colors";

// Todos
.botonGenerico{
    input{
        border-radius: 15px;
        border:none;
        outline: none;
        box-shadow:0px 8px 6px rgba(54, 54, 80,.40%);
    }
    input:hover { background:#dfdede; }
    input:active{background:#c2c2c2; border:1px solid #c2c2c2; }
    
    button{
        border-radius: 15px;
        border:none;
        outline: none;
        box-shadow:0px 8px 6px rgba(54, 54, 80,.40%);
    }
    button:hover {background:#dfdede; }
    button:active{background:#c2c2c2; border:1px solid #c2c2c2; }
    
    select{
        border-radius: 15px;
        border:none;
        outline: none;
        box-shadow:0px 8px 6px rgba(54, 54, 80,.40%);
    }
    select:hover { background:#dfdede; }
    select:active{background:#c2c2c2; border:1px solid #c2c2c2; }


}

//

// Home
.div__contenido--estilo{

        .contenido__boton--estilo{ //boton buscar
            cursor:pointer;
            height:50px;
            background-color: $colorCaja;
            border: 1px solid;
            border-radius: 15px;

        &:hover{
            @extend.colorBoton1;
        }
        
        &:active{
            @extend.colorBoton2;
        }

            
        h2{
            text-align:center;
        }
        }
        
        div div h2{
            font-size:15px;
            text-align:center;
        }
        
        iframe{
            filter:blur(2px);
            height:250px;
            width:100%;
            border-radius: 15px;
        }

        .contenido__cajon--estilo{
            height: auto;
            background-color: $primario;
            border: 1px solid;
            border-radius: 15px;

            .cajon__selectIzq--estilo{
                outline: none;
                text-align-last:center;
                appearance: none;
                height:70px;
                border-radius: 15px;
                border:none;
                box-shadow: -15px 2px 7px -17px rgba(54, 54, 80, 40%);
                // box-shadow: 0px 8px 6px rgba(54, 54, 80, 0.4); 
            }
            
            .cajon__selectDer--estilo{
                text-align: center;
                outline: none;
                border:none;
                text-align-last:center;
                appearance: none;
                height:70px;
                border-radius: 15px;
            }

            .cajon__placeholder--estilo{
                position: relative;
                bottom:70px;
                left:11px;
            }
        }

}



.cajon__boton--estilo{
    border:none;
    outline:none;
    width: 49px;
    height:49px;
    border-radius: 100px;
    
    &:hover{
        @extend.colorBoton1;
    }
    &:active{
        @extend.colorBoton2;
    }

    & span{
        font-size:17px;
        color:#707070;
    }
}

// Explorar Page

.div__explorador--estilo{
    @extend.table__explorar--estilo;
    @extend.botonGenerico;
    select{
        width:80%;
        height:40px;
        text-align-last:center;
        appearance:none;
    }
}

