
.div__nav--estilo{
    margin-bottom: 50px;
}

.div__slogan--estilo{
    .row{
        justify-content:center;
    }

    div h2{ 
        font-size:20px;
        margin-top: 15px;
        margin-bottom: 30px;
        text-align:center;
    }
}

.div__contenido--estilo{
    .contenido__cajon{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .contenido__boton--estilo{
        
        margin-top:20px;
        
        h2{
            margin-top:14px;
        }

    }
    div div h2{
        margin-top: 8px;
        margin-bottom: 20px;
    }

}

.div__slogan--estilo{
    margin-top:50px;
}


.footer--estilo{
    padding:20px;
}

// Explorar Page
.div__filtros--estilo{

    padding-left: 13px;
}


