//ALL PAGES



.footer--responsive{
    padding-top:20px;
    margin-top:100px;
}    

.div__nav--responsive{
    text-align:center;
    margin-bottom:50px;
}

// INDEX PAGE

.div__cajaSelectora--style{
    padding:30px;
}

.div__cajaSup--responsive,.div__cajaInf--responsive{
    padding:5px;
}
.div__cajaSup--responsive{
    margin: 0px 0px 15px 0px;
}
.div__cajaInf--responsive{
    margin: 15px 0px 0px 0px;
}

.cajaSelectora__botonBuscarOfertas--responsive{ 
    margin-top:15px;
    margin-bottom:7px;
}

.h2__slogan--responsive{
    margin-top:120px;
}

.cajaSelectora__customPlaceholder{
    padding-right: 0px;
    width: 200px;
}

// EXPLORAR PAGE


table{
    margin-bottom: 10px;
    
    & tbody input{
        padding: 6px 15px 6px 15px ;
    }
}

.div__similares--style{
    margin-top:30px;
}

// MIS OFERTAS PAGE

.boton__crearNuevaOferta{
    margin-top:15px;
    margin-bottom:130px;
    padding:5px 10px 5px 10px;
}

.misOfertasMobile{
    margin-top: 20px;
    margin-bottom: 20px;
}

.misOfertasDesktop{
    margin-top: 40px;
    margin-bottom: 20px;
}



// MIS INTERCAMBIOS PAGE

.tablaMobile{
    margin-top: 20px;
    margin-bottom: 20px;
}

.tablaDesktop{
    margin-top: 40px;
    margin-bottom: 20px;
}

.botones__Oferta{
    padding: 5px 10px 5px 10px;
    margin-left: 20px;
    margin-bottom: 100px;
}

//USUARIO PAGE

.usuario__informacion--responsive{
    margin-top: 20px;
}

.usuario__titulos h1, h2{
    margin-bottom:25px;
}

.table__usuario--style{
    & td{
        padding: 20px;
    } 
    & th{
        padding: 20px;
    }
}

.div__confiarUsuario--style{
    padding: 10px;

    & div button{
        margin-top:25px;
        padding: 5px 15px 5px 15px;
    }
}

.div__tiemposUsuario--style{
    margin-top:50px;
    padding: 10px;
}

// CONTACTO PAGE

.contacto__slogan--style h2{
    margin-top:55px;
}


.boton__contacto--style{
    padding:5px 10px 5px 10px;
}

//Politica PAGES
.politica__titulos--style h1{
    margin-bottom: 50px;
}