@import "colors-styles";
@import "margin-padding";
@import "responsive";

@import "mis-ofertas";

@import "media-mobile";
@import "media-tablet";


.centered{
    justify-content:center;
}

.navbar-nav li{
    margin-left: 25px ;
    margin-right:25px ;
}














