body::-webkit-scrollbar-track {
  background-color: #3f2447;
  width: 10px; }

body::-webkit-scrollbar-thumb {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #011638; }

body::-webkit-scrollbar-thumb:hover {
  background-color: #01122d; }

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px; }

.negrita {
  font-weight: bold; }

.disabled {
  color: #919191; }

a:link {
  color: white; }

a:visited {
  color: white; }

a:active {
  color: white; }

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white; }

.div__nav--style {
  background-color: rgba(46, 41, 78, 0.211);
  backdrop-filter: blur(10px); }

body {
  background: #011638;
  background: linear-gradient(90deg, #011638 0%, #2e294e 50%, #9055a2 100%, #020024 11638%); }

.footer--style {
  color: white;
  background-color: rgba(46, 41, 78, 0.211);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.109); }
  .footer--style li {
    list-style: none; }

iframe {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px; }

.div__cajaSelectora--style {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: rgba(35, 17, 35, 0.401);
  backdrop-filter: blur(10px); }

.cajaSelectora__input--style {
  border-radius: 15px 0px 0px 15px;
  text-align: center;
  border: none;
  outline: none;
  background-color: white; }

.cajaSelectora__selectora--style {
  border-radius: 0px 15px 15px 0px;
  text-align-last: center;
  border: none;
  outline: none;
  appearance: none;
  background-color: white;
  height: 80px;
  box-shadow: -15px 2px 7px -13px #c6c6c6; }

input:hover, select:hover {
  background: #d9d9d9; }

.div__cajaSup--style, .div__cajaInf--style {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: white; }

.cajaSelectora__botonSwitch--style {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  width: 55px;
  height: 55px;
  border: 1px solid gray;
  background-color: white; }
  .cajaSelectora__botonSwitch--style:hover {
    background: #d9d9d9; }
  .cajaSelectora__botonSwitch--style:active {
    background: #b3b3b3; }

.cajaSelectora__botonBuscarOfertas--style {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: white;
  border: none;
  height: 50px; }
  .cajaSelectora__botonBuscarOfertas--style:hover {
    background: #d9d9d9; }
  .cajaSelectora__botonBuscarOfertas--style:active {
    background: #b3b3b3; }

.iframe__slogan--style {
  color: white;
  text-align: center;
  font-size: 120%; }

.h2__slogan {
  font-weight: 100;
  text-align: center;
  color: white;
  font-size: 150%; }

.div__explorador--style {
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
  background-color: rgba(35, 17, 35, 0.401); }

.div__selector--style select {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: none;
  border: none;
  appearance: none;
  width: 80%;
  height: 40px;
  text-align-last: center; }

.div__filtros--responsive {
  color: white;
  align-items: center; }
  .div__filtros--responsive select {
    text-align-last: center;
    outline: none; }

.div__similares--style {
  color: white; }

table {
  border-collapse: collapse;
  table-layout: fixed;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: rgba(35, 17, 35, 0.401);
  backdrop-filter: blur(10px);
  text-align: center; }
  table tbody input {
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: white; }
    table tbody input:hover {
      background: #d9d9d9; }
    table tbody input:active {
      background: #b3b3b3; }

.misOfertas__titulo {
  color: white;
  text-align: center; }

.misOfertasDesktop li, .misOfertasMobile li {
  list-style: none; }

.boton__crearNuevaOferta {
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: white; }
  .boton__crearNuevaOferta:hover {
    background: #d9d9d9; }
  .boton__crearNuevaOferta:active {
    background: #b3b3b3; }

.custom-select-mis-ofertas {
  width: 150px; }

.misOfertasDesktop tr td li, .misOfertasMobile tr td li {
  cursor: pointer; }

.misOfertasDesktop tr td li:hover, .misOfertasMobile tr td li:hover {
  background-color: rgba(35, 17, 35, 0.401); }

.misIntercambios__titulos {
  color: white;
  text-align: center; }

.botones__Oferta {
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: white; }
  .botones__Oferta:hover {
    background: #d9d9d9; }
  .botones__Oferta:active {
    background: #b3b3b3; }

.usuario__insignia {
  color: white;
  font-size: 25px; }
  .usuario__insignia:hover {
    color: yellow; }

.usuario__titulos h1, h2 {
  color: white; }

.table__usuario--style {
  border-collapse: collapse;
  table-layout: fixed;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: rgba(35, 17, 35, 0.401);
  backdrop-filter: blur(10px);
  text-align: left; }
  .table__usuario--style td {
    width: 50%; }
  .table__usuario--style th {
    width: 50%; }

.div__confiarUsuario--style {
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: rgba(35, 17, 35, 0.401);
  backdrop-filter: blur(10px);
  text-align: center;
  height: 250px; }
  .div__confiarUsuario--style ion-icon {
    color: green;
    font-size: 50px; }
  .div__confiarUsuario--style div button {
    border: none;
    outline: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: white; }
    .div__confiarUsuario--style div button:hover {
      background: #d9d9d9; }
    .div__confiarUsuario--style div button:active {
      background: #b3b3b3; }

.div__tiemposUsuario--style {
  text-align: center;
  font-size: 20px;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: rgba(35, 17, 35, 0.401);
  backdrop-filter: blur(10px);
  height: 250px; }

.contacto__titulos--style {
  align-items: baseline;
  color: white; }
  .contacto__titulos--style div h1 {
    font-size: 50px; }
  .contacto__titulos--style div h2 {
    font-size: 25px; }

.contacto__slogan--style h2 {
  font-weight: 400; }

.contacto__slogan--style p {
  font-weight: 100;
  font-size: 175%; }

.custom-select {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: none;
  border: none; }

.form-control {
  min-height: 180px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: none;
  border: none; }

.boton__contacto--style {
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: white; }
  .boton__contacto--style:hover {
    background: #d9d9d9; }
  .boton__contacto--style:active {
    background: #b3b3b3; }

.politica__titulos--style {
  color: white; }

.footer--responsive {
  padding-top: 20px;
  margin-top: 100px; }

.div__nav--responsive {
  text-align: center;
  margin-bottom: 50px; }

.div__cajaSelectora--style {
  padding: 30px; }

.div__cajaSup--responsive, .div__cajaInf--responsive {
  padding: 5px; }

.div__cajaSup--responsive {
  margin: 0px 0px 15px 0px; }

.div__cajaInf--responsive {
  margin: 15px 0px 0px 0px; }

.cajaSelectora__botonBuscarOfertas--responsive {
  margin-top: 15px;
  margin-bottom: 7px; }

.h2__slogan--responsive {
  margin-top: 120px; }

.cajaSelectora__customPlaceholder {
  padding-right: 0px;
  width: 200px; }

table {
  margin-bottom: 10px; }
  table tbody input {
    padding: 6px 15px 6px 15px; }

.div__similares--style {
  margin-top: 30px; }

.boton__crearNuevaOferta {
  margin-top: 15px;
  margin-bottom: 130px;
  padding: 5px 10px 5px 10px; }

.misOfertasMobile {
  margin-top: 20px;
  margin-bottom: 20px; }

.misOfertasDesktop {
  margin-top: 40px;
  margin-bottom: 20px; }

.tablaMobile {
  margin-top: 20px;
  margin-bottom: 20px; }

.tablaDesktop {
  margin-top: 40px;
  margin-bottom: 20px; }

.botones__Oferta {
  padding: 5px 10px 5px 10px;
  margin-left: 20px;
  margin-bottom: 100px; }

.usuario__informacion--responsive {
  margin-top: 20px; }

.usuario__titulos h1, h2 {
  margin-bottom: 25px; }

.table__usuario--style td {
  padding: 20px; }

.table__usuario--style th {
  padding: 20px; }

.div__confiarUsuario--style {
  padding: 10px; }
  .div__confiarUsuario--style div button {
    margin-top: 25px;
    padding: 5px 15px 5px 15px; }

.div__tiemposUsuario--style {
  margin-top: 50px;
  padding: 10px; }

.contacto__slogan--style h2 {
  margin-top: 55px; }

.boton__contacto--style {
  padding: 5px 10px 5px 10px; }

.politica__titulos--style h1 {
  margin-bottom: 50px; }

.div__cajaSelectora--responsive {
  flex-direction: column; }

.div__cajaSup--responsive, .div__cajaInf--responsive {
  display: grid;
  grid-template-columns: 50% 50%; }

.cajaSelectora__botonSwitch--responsive {
  top: 110px;
  left: 0px; }

.div__filtros--responsive {
  display: flex;
  justify-content: flex-end; }

@media (min-width: 768px) {
  .misOfertasMobile {
    display: none; } }

.botones__Oferta {
  display: flex;
  justify-content: flex-end; }

@media (min-width: 768px) {
  .tablaMobile {
    display: none; } }

.boton__contacto--style {
  display: flex;
  justify-content: flex-end; }

.div__tiemposUsuario--responsive {
  display: flex;
  align-items: center; }

nav li a:hover {
  transform: scale(1.05, 1.05); }

@media (min-width: 320px) and (max-width: 480px) {
  .pizza {
    flex-direction: column-reverse; }
  .cajaSelectora__botonBuscarOfertas--responsive {
    margin-bottom: 80px; }
  iframe {
    height: 300px; }
  .h2__slogan {
    font-weight: 100;
    text-align: center;
    color: white;
    font-size: 130%; }
  .h2__slogan--responsive {
    margin-top: 60px; }
  .footer--responsive {
    margin-top: 60px; }
  .div__filtros--responsive {
    text-align: center;
    align-content: center;
    justify-content: center; }
  .misOfertasDesktop li, .misOfertasMobile li {
    text-align: start; }
  .misOfertasDesktop {
    display: none; }
  .contacto__slogan--style {
    margin-top: 50px;
    text-align: center; }
    .contacto__slogan--style p {
      margin-top: 15px;
      font-size: 120%; }
  .tablaDesktop {
    display: none; }
  .botones__Oferta {
    justify-content: center; }
  .usuario__titulos {
    text-align: center; }
  .usuario__insignia {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center; }
  .usuario__avatar {
    display: none; }
  .usuario__informacion--responsive {
    margin-top: 20px;
    flex-direction: column-reverse; }
  .div__confiarUsuario--responsive {
    margin-bottom: 50px; }
  .div__tiemposUsuario--responsive {
    display: none; } }

@media (min-width: 481px) and (max-width: 767px) {
  .pizza {
    flex-direction: column-reverse; }
  .cajaSelectora__botonBuscarOfertas--responsive {
    margin-bottom: 80px; }
  iframe {
    height: 300px; }
  .h2__slogan {
    font-weight: 100;
    text-align: center;
    color: white;
    font-size: 140%; }
  .h2__slogan--responsive {
    margin-top: 40px; }
  .footer--responsive {
    margin-top: 40px; }
  .div__filtros--responsive {
    text-align: center;
    align-content: center;
    justify-content: center; }
  .misOfertasDesktop li, .misOfertasMobile li {
    text-align: start; }
  .misOfertasDesktop {
    display: none; }
  .tablaDesktop {
    display: none; }
  .botones__Oferta {
    justify-content: center; }
  .usuario__titulos {
    text-align: center; }
  .usuario__insignia {
    justify-content: center; }
  .usuario__avatar {
    display: none; }
  .usuario__avatar {
    display: none; }
  .usuario__informacion--responsive {
    margin-top: 20px;
    flex-direction: column-reverse; }
  .div__confiarUsuario--responsive {
    margin-bottom: 50px; }
  .div__tiemposUsuario--responsive {
    display: none; }
  .contacto__slogan--style {
    margin-top: 50px;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .div__filtros--responsive {
    text-align: center;
    align-content: center;
    justify-content: center; }
  .tablaMobile {
    display: none; }
  .misOfertasMobile {
    display: none; }
  .usuario__titulos {
    text-align: center; }
  .usuario__insignia {
    justify-content: center; }
  .usuario__avatar {
    display: none; }
  .usuario__avatar {
    display: none; }
  .usuario__informacion--responsive {
    margin-top: 20px;
    flex-direction: column-reverse; }
  .div__confiarUsuario--responsive {
    margin-bottom: 50px; }
  .div__tiemposUsuario--responsive {
    display: none; }
  .contacto__slogan--style {
    margin-top: 50px;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .usuario__insignia {
    justify-content: center; } }

.centered {
  justify-content: center; }

.navbar-nav li {
  margin-left: 25px;
  margin-right: 25px; }

ion-icon {
  pointer-events: none; }
